* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
  opacity: 0;
  transition: 1s all;
}
.navbar {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #000000;
  position: relative;
  padding: 0px 70px;
  background-color: #000000;
  color: white;
}
.navbar-logo {
  color: #ff3f34;
  text-decoration: none;
  font-size: 25px;
  padding: 0px 10px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 20px;
  transition: 0.4s all;
}

.navbar-links li.navbar-dropdown {
  position: relative;
}

.navbar-links li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

.navbar-links li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  top: 100%;
  left: 0;
  width: 250px;
  background-color: #756bbf;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}

.navbar-links li.navbar-dropdown .dropdown a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}

.navbar-dropdown .dropdown a:hover {
  padding-left: 30px;
}

.navbar-links li a:hover {
  color: #fdec00;
}

.navbar-dropdown.open .material-icons {
  transform: rotate(180deg);
}
